<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/hibernate</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hbm2ddl.auto">create</property>
		<property name="show_sql">true</property>
		<!-- <mapping class="com.scp.CURDHibernate.EmployeeInfo" /> -->
		
	<!-- 	TABLE_PER_CLASS::
		<mapping class="com.scp.Inheritance.Parent" />
		<mapping class="com.scp.Inheritance.Child1" />
		<mapping class="com.scp.Inheritance.Child2" /> -->
		
		<!-- JOINED
		<mapping class="com.scp.Inheritance.Parent1" />
		<mapping class="com.scp.Inheritance.ChildEx1" />
		<mapping class="com.scp.Inheritance.ChildEx2" /> -->
		
		<!-- CONCRETE_CLASS
		<mapping class="com.scp.Inheritance.Parent2" />
		<mapping class="com.scp.Inheritance.ChildTest1" />
		<mapping class="com.scp.Inheritance.ChildTest2" /> -->
		
		<!-- Mapping One to one -->
		<mapping class="com.scp.Mapping.Emp" />
		<mapping class="com.scp.Mapping.Address" />
	</session-factory>

</hibernate-configuration>  